{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="section-content padding-top bg">
        <div class="container">
            <h3 class="text-center mb-20">Review Your Order and Make Payment</h3>
            <div class="row pt-3">

                <aside class="col-lg-8">
                    <div class="card mb-3">
                        <h5 class="card-header">Billing Address</h5>
                        <div class="card-body">
                            <p class="card-text mb-0">{{ order.full_name }}</p>
                            <p class="card-text mb-0">{{ order.full_address }}</p>
                            <p class="card-text mb-0">{{ order.city }}, {{ order.state }}</p>
                            <p class="card-text mb-0">{{ order.country }}</p>
                            <p class="card-text mb-0">{{ order.email }}</p>
                            <p class="card-text mb-0">{{ order.phone }}</p>
                            {% if order.order_note %}
                                <b>Order Note: </b> {{ order.order_note }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="card mb-3">
                        <h5 class="card-header">Payment Method</h5>
                        <div class="card-body">
                            <p class="card-text">PayPal</p>

                        </div>
                    </div>

                    <div class="card">
                        <h5 class="card-header">Review Products</h5>
                        <div class="card-body">
                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cart_item in cart_items %}
                                    <tr>
                                        <td>
                                            <figure class="itemside align-items-center">
                                                <div class="aside"><img src="{{ cart_item.product.image.url }}"
                                                                        class="img-sm"></div>
                                                <figcaption class="info">
                                                    <a href="{{ cart_item.product.get_url }}"
                                                       class="title text-dark">{{ cart_item.product.name }}</a>
                                                    </p>
                                                </figcaption>
                                            </figure>
                                        </td>
                                        <td>
                                            <label for="">{{ cart_item.quantity }}</label>
                                        </td>
                                        <td>
                                            <div class="price-wrap">
                                                <var class="price">$ {{ cart_item.sub_total }}</var>
                                                <small class="text-muted"> $ {{ cart_item.product.price }} each </small>
                                            </div>
                                        </td>

                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>

                </aside>
                <aside class="col-lg-4">

                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                                <dt>Total:</dt>
                                <dd class="text-right text-dark b"><strong>$ {{ total|floatformat:2 }}</strong></dd>
                            </dl>
                            <hr>
                            <p class="text-center mb-3">
                                <img src="{% static 'images/payments.png' %}" height="26">
                            </p>


                            <div id="paypal-button-container">
                                <!-- PayPal Button Will Load -->
                            </div>

                        </div>
                    </div>
                    <div class="alert alert-danger mt-3" role="alert">
                        <b>Please Note: </b>This is a demo website. Do not try to make real payments.
                    </div>
                </aside>
            </div>

        </div>
    </section>

    <script>
        var amount = "{{ total }}"
        var url = "{% url 'payments' %}"
        var orderID = "{{order.order_number}}"
        var payment_method = 'PayPal'
        var redirect_url = "{% url 'complete-order' %}"
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            style: {
                color: 'gold',
                shape: 'pill',
                label: 'pay',
                height: 40
            },

            // Set up the transaction
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: amount,
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    // Show a success message to the buyer
                    console.log(details);
                    sendData();

                    function sendData() {
                        fetch(url, {
                            method: "POST",
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': csrftoken,
                            },
                            body: JSON.stringify({
                                orderID: orderID,
                                transID: details.id,
                                payment_method: payment_method,
                                status: details.status,
                            }),
                        })
                            .then((response) => response.json())
                            .then((data) => {
                                window.location.href = redirect_url +
                                    '?order_number=' + data.order_number + '&payment_id=' + data.transID;
                            });
                    }
                });
            }

        }).render('#paypal-button-container');
    </script>

{% endblock %}