{% load static %}
<footer>
    <div class="footer">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <img src="{% static 'images/logo-white.png' %}" alt="logo"
                                 style="width: 20px"
                                 class="mb-2">
                            © 2022 Plant Shop.
                            <i class="bi bi-facebook"></i>
                            <i class="bi bi-pinterest"></i>
                            <i class="bi bi-instagram"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>